body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    max-width: 1356px;
    padding: 64px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

h1 {
    font-size: 2rem;
}

.contents {
    width: 100%;
    min-height: 686px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.containerTask {
    width: 100%;
    max-width: 1024px;
    border-radius: 16px;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.informationTask {
    display: flex;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
}

.priorityLevelAlta {
    padding: 4px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.priorityLevelMedia, .priorityLevelBaixa, .date, .name {
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.names{
    display: flex;
    gap: 10px;
}

.priorityLevelAlta, .priorityLevelMedia, .priorityLevelBaixa {
    color: white;
    font-weight: 600;
}

.priority {
    color: white;
    font-weight: 600;
}

.date, .name {
    border: 1px solid #b6b6b6;
    color: #b6b6b6;
}

.nameDescriptionTask {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border-right: 1px solid #b6b6b6;
    padding-right: 16px;
}

.description {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

@media (max-width: 1203px) {
    main {
        width: 100%;
        padding: 16px;
    }

    .containerTask {
        width: 100%;
        padding: 10px;
    }

    .informationTask {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1rem;
    }

    .description {
        font-size: 0.9rem;
    }
}